<%- include('../partials/header' , style = '../uploadBooks.css') %>
<%- include('../partials/navbarother')%>

<div class="container">
    <div class="forming">
        <form action="/admin/uploadBooks" enctype="multipart/form-data" id="imageForm"  method="post">
            <input type="submit" class="btn btn-primary" id="sub-btn">
            <div class="form-group">
                <label>Title: </label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label>Description: </label>
                <textarea type="text" class="form-control" name="desc" placeholder="Description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Availability</label>
                <input type="number" class="form-control" name="avail">
            </div>
            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" placeholder="writer">
            </div>
            <div class="form-group">
                <label>Copies Sold:</label>
                <input type="number" name="sold" class="form-control">
            </div>
            <div class="form-check">
                <% genre.forEach(function(ele){ %>
                    <div class="input-group-prepend">
                        <input type="checkbox" class="form-check-input" id="<%= ele.id %>" name="genre" value="<%= ele.id %>">
                        <label for="<%= genre %>" class="form-check-label"> <%= ele.name %></label><br>
                    </div>
                <% }) %>
            </div>
            <button name="addImage" id="addButton"  onclick="add_more_field()" class="btn btn-outline-primary">+</button><br>
        
            <input type="file" class="imageUploading" name="ImageUpload" accept="image/png , image/jpeg"><br>
        </form>
    </div>
</div>



<script>
    counter = 1
    function add_more_field(){
        if(counter <= 4){
            counter += 1
            html = '<input type="file" class="imageUploading" name="ImageUpload" accept="image/png , image/jpeg" ><br>'
            var form = document.getElementById('imageForm');
            form.innerHTML += html;
        }
        else{
            alert("cannot add more than 5 images");
        }
    }
</script>